<ul class="items-container">
    <li class="menu-item">
        <h4>Ham & Goat Cheese Croissant</h4>
        <img src="/img/ham-and-goat-cheese-croissant.jpg" alt="Ham & Goat Cheese Croissant">
        <p><a href="/item/ham-and-goat-cheese-croissant">Details</a></p>
    </li>
    <li class="menu-item">
        <h4>Chicken Pomegranate Salad</h4>
        <img src="/img/chicken-pomegranate-salad.jpg" alt="Chicken Pomegranate Salad">
        <p><a href="/item/chicken-pomegranate-salad">Details</a></p>
    </li>
    <li class="menu-item">
        <h4>Strawberry Pudding</h4>
        <img src="/img/strawberry-pudding.JPG" alt="Strawberry Pudding">
        <p><a href="/item/strawberry-pudding">Details</a></p>
    </li>
</ul>