<ul class="items-container">
    <li class="menu-item">
        <h4>Ham & Goat Cheese Croissant</h4>
        <img src="/img/ham-and-goat-cheese-croissant.jpg" alt="Ham & Goat Cheese Croissant">
    </li>
    <li class="menu-item">
        <h4>Chicken Pomegranate Salad</h4>
        <img src="/img/pomegranate-chicken-salad.jpg" alt="Chicken Pomegranate Salad">
    </li>
    <li class="menu-item">
        <h4>Strawberry Pudding</h4>
        <img src="/img/strawberry-pudding.JPG" alt="Strawberry Pudding">
    </li>
</ul>